{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>This is a title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <header>

            <h3 class="navbar navbar-dark bg-dark" >Base Content Page:
                <a class="navbar-brand"  href= "{% url 'homepage' %}">Homepage  </a>
                <a class="navbar-brand"  href= "{% url 'renderpage' %}"> Render Page  </a>
                <a class="navbar-brand"  href= "{% url 'classpage' %}"> Class Page  </a>
            </h3>
        <header>

        {% block content %}
        {% endblock content %}
        <p></p>
        <div>
            This is a contect form Base.html
        </div>
        {% block cont2 %}
        {% endblock cont2 %}
    </body>

</html>